$black: #000000;
$grey-1: #21252A;
$grey-2: #343A40;
$grey-3: #495057;
$grey-4: #868E96;
$grey-5: #ADB5BD;
$grey-6: #CFD4DA;
$grey-7: #DEE2E6;
$grey-8: #E9ECEE;
$grey-9: #F1F3F5;
$grey-10: #F8F9FA;
$white: #ffffff;


$primary: #79CAED;
$primary-l1: #A6DFF7;
$primary-l2: #DEF4FE;
$primary-d1: #53B5DF;
$primary-d2: #319BC9;
$primary-d3: hsl(198, 60%, 39%);
$primary-d4: hsl(198, 60%, 29%);



// accent _colors
$accent-tan: #FFC17C;
$accent-tan-l1: #FFD6A7;
$accent-tan-l2: #FFEFDE;
$accent-tan-d1: #FFB057;
$accent-tan-d2: #FFA035;
$accent-tan-d3: hsl(31, 100%, 50%);
$accent-tan-d4: #cc6900;


$accent-yellow: #FFDA7C;
$accent-yellow-l1: #FFE6A7;
$accent-yellow-l2: #FFF6DE;
$accent-yellow-d1: #FFCF57;
$accent-yellow-d2: #FFC635;
$accent-yellow-d3: #ffb300;
$accent-yellow-d4: hsl(42, 100%, 40%);

$accent-red: #FF957C;
$accent-red-l1: #FFB8A7;
$accent-red-l2: #FFE4DE;
$accent-red-d1: #FF7757;
$accent-red-d2: #FF5C35;
$accent-red-d3: hsl(11, 100%, 50%);
$accent-red-d4: hsl(11, 100%, 40%);
$accent-red-d4: #661300;
