$gutter: 10px;
$baseline: 20px;

$max-line-length: 40rem;
$max-width: 1600px;
$transition: 0.2;


$mobile-header-size: 125px;
$mobile-footer-size: 75px;

// breakpoints
$small-breakpoint: 500px;
$medium-breakpoint: 800px;

// scale
$xxs: 4px;
$xs: 8px;
$small: 12px;
$baseline: 16px;
$large: 24px;
$xl: 32px;
$xxl: 48px;
$xxxl: 64px;
$xxxxl: 96px;
$xxxxxl: 128px;
$xxxxxxl: 192px;
$xxxxxxxl: 256px;
$xxxxxxxxl: 384px;
$xxxxxxxxxl: 512px;

// font type
$font-xs: 12px;
$font-small: 14px;
$font-baseline: 16px;
$font-large: 18px;
$font-xl: 20px;
$font-xxl: 24px;
$font-xxxl: 30px;
$font-xxxxl: 36px;
$font-xxxxxl: 48px;
$font-xxxxxxl: 60px;
$font-xxxxxxxl: px;
